* {
    padding: 0;
    margin: 0;
}

.body { 
   
   
}

.header {
    height: 3rem;
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    padding: 0rem .8rem;

}

.game-div {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    margin-top: 5rem;
    height: 70vh;
}

.player {
    border: solid 1px lightgreen;
    width: 250px;
    display: flex;
    flex-direction: column;  

    
}

.player-header {
    border: solid 1px green;
    width: 100%;
    text-align: center;


    height: 7rem;
    
}

.player-input {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.player-buttons {
    border: solid 1px pink;
    
    

}

.tally {
    
    
}

.buttons {

}

.numbers {
    border: solid 1px lightgray;    
    display: flex;
    flex-direction: column;

    width: 200px;
   
   
}

.numbers-header {

    border: solid 1px green;
    width: 100%;
    text-align: center;


    height: 7rem;
    

}

.numbers-div {

    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}


